<h3>Contacto</h3>
<p>Para más información podés escribirnos:</p>

<form>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="María Pérez">
        <label for="floatingInput">Nombre y Apellido</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="name@example.com">
      <label for="floatingPassword">Email</label>
    </div>
</form>
<div class="btn gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-success me-md-2">Enviar</button>
</div>

                              
                            